<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSDA: Roof Section Detection Application </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFMRsmxhbbqH4b2DgRfcqiLRe198tgzU0&libraries=places&callback=initAutocomplete">
    </script>
    <script src="{{ url_for('static', filename='js/maps.js')}}"></script>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
        Roof Section Detection Application
        </a>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="card" id="mapdaddy">
          <header class="card-header">
            <p class="card-header-title">
            Roof Section Detection
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <input id="pac-input" class="controls" type="text" placeholder="Search Box">
              <div id="map"></div>
              <script>
              initAutocomplete();
              </script>
              <!-- <img width="600" src=getMap() alt="Google Map of Albany, NY"> -->
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item" onclick="getMap()">Proceed</a>
            <a href="#" class="card-footer-item">Reset</a>
            <a href="#" class="card-footer-item">Upload</a>
          </footer>
        </div>
      </div>
    </section>
  </body>
</html>
