<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSDA: Roof Section Detection Application </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFMRsmxhbbqH4b2DgRfcqiLRe198tgzU0&libraries=places&callback=initAutocomplete">
    </script>
    <script src="{{ url_for('static', filename='js/maps.js')}}"></script>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://127.0.0.1:5000" style="font-weight:700">
        <i class="fa fa-map-o fa-3" aria-hidden="true" style="margin-right: 5px; font-size: 32px;"></i>
        Roof Section Detection Application
        </a>
      </div>
    </nav>
    <section class="section">
      <div class="container" style="margin" id="bigdaddy">
        <div class="card" id="staticdaddy">
          <div class="card-content">
            <div class="content">
            <img id="static-map" width="900" src="static/img/edges.png" alt="">
            <!--
            <script>
            addStaticMap();
            </script>
            -->
            </div>
          </div>
          <footer class="card-footer" id="staticFooter">
            <a href="#" class="card-footer-item button is-medium is-primary" onclick="printPage();">Print</a>
            <a href="#" class="card-footer-item button is-medium" onclick="window.open('/', '_self')">Back</a>
          </footer>
        </div>
            <div id="measure-container">
                <div class="card" id="measurementsdaddy">
                  <header class="card-header">
                    <p class="card-header-title">
                    Schematic Data
                    </p>
                  </header>
                  <div class="card-content">
                    <form>
                      <div class="content">
                        <div class="field">
                          <div class="control">
                            <label class="label">Surveyor Name</label>
                            <input class="input" type="text" placeholder="John Doe" name="surveyorName"></input><br/>
                            <label class="label">Measurement Locations & Values</label>
                            <textarea class="textarea is-primary" type="textarea" placeholder="Roof South Side: 50&#39;6&#34;" name="measurementData"></textarea>
                            <input name="address" style="display:none;" id="addressInput"></input>
                        </div>
                      </div>
                    </div>
                    </div>
                    <footer class="card-footer">
                      <input href="#" class="card-footer-item button is-primary" type="submit" value="Submit" style="padding: 0;" onclick="saveAddress();"></input>
                      <a href="#" class="card-footer-item button">Cancel</a>
                    </footer>
                  </form>
                
            <script>showMeasurementElements()</script>
         </div>
      </div>
    </section>
  </body>
</html>
